@import "tailwindcss";


@theme {
  /* El rosa vibrante de las letras MIIN */
  --color-mun-pink: #ee6d77;
  /* Un rosa más oscuro para detalles o hover */
  --color-mun-pink-dark: #d45b64;
  /* Fondo limpio */
  --color-mun-bg: #ffffff;

  --font-sans: "Poppins", "Inter", system-ui;
}

/* Un pequeño reset para que todo se vea limpio */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
