@import "tailwindcss";

@theme {
  --color-mun-cherry: #a8282d;
  --color-mun-coral: #ee6d77;
  --color-mun-pink-bg: #fff0f1;
  --font-sans: "Poppins", "Inter", system-ui;
}

/* Un pequeño reset para que todo se vea limpio */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
